<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxkq.oracle.apps.xbol.v2.employee.lov.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="AirxpLovAM"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.AirxpLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="BusinessGroupLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.BusinessGroupLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EmployeeIdLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.EmployeeIdLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EmployeeLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.EmployeeLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EntitlementUniformSetNameLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.EntitlementUniformSetNameLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemCodeLineLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.ItemCodeLineLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemCodeLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.ItemCodeLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemLinesIssuesLOVVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.ItemLinesIssuesLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.ItemLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LocationLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.LocationLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LocatorLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.LocatorLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LOVAM"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.LOVAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="OrganizationLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.OrganizationLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="PositionLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.PositionLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ReasonCodeLOVVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.ReasonCodeLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ReplacementInventoryItemVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.ReplacementInventoryItemVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequisitionLOVAM"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.RequisitionLOVAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="RequisitionLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.RequisitionLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequisitionNumberLOVVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.RequisitionNumberLOVVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequisitionStatusLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.RequisitionStatusLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequisitionTypeLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.RequisitionTypeLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequisitionTypePoplistVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.RequisitionTypePoplistVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequisitionTypeSearchPoplistVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.RequisitionTypeSearchPoplistVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="StockLocatorLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.StockLocatorLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SubinventoryLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.SubinventoryLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TransactionIssueRequisitionLov"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.TransactionIssueRequisitionLov"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TransactionLovVo"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.TransactionLovVo"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TransactionNumberLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.TransactionNumberLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TransactionReturnRequisitionLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.TransactionReturnRequisitionLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TransactionStatusLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.TransactionStatusLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TrxSearchRequisitionNumberLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.TrxSearchRequisitionNumberLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TrxSearchRequisitionTypeLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.TrxSearchRequisitionTypeLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UniformEmployeeNumbeLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.UniformEmployeeNumbeLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UniformRetUniformSetNameLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.UniformRetUniformSetNameLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UniformSetLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.UniformSetLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UniformSetNameLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.UniformSetNameLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UniformSubInventoryLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.UniformSubInventoryLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="WhereHouseLovVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.lov.server.WhereHouseLovVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
