<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxkq.oracle.apps.xbol.v2.employee.poplist.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="AirxpPoplistAM"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.AirxpPoplistAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="GenderVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.GenderVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="HeaderReasonCodePoplistVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.HeaderReasonCodePoplistVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ReasonCodePoplistVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.ReasonCodePoplistVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequisitionTypePoplistVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.RequisitionTypePoplistVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequisitionTypeVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.RequisitionTypeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequistionTypePoplistVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.RequistionTypePoplistVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TempVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.TempVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="TransactionTypeVO"
      FullName="xxkq.oracle.apps.xbol.v2.employee.poplist.server.TransactionTypeVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
